/Contact
%article.container.box.style3
  %header
    %h2 Contact
    %p Feel free to drop me an email.

  = form_for(Message.new) do |f|
    .row.half
      .6u
        = f.text_field :name, placeholder: "Name"
      .6u
        = f.email_field :email, placeholder: "Email"
    .row.half
      .12u
        = f.text_area :message, placeholder: "Message"
    .row
      .12u
        %ul.actions
          %li
            = f.submit "Send Message"
