= render 'header'

= render 'banner'

- Post.active.each_with_index do |post, inx|
  = render partial: "post", locals: {doc: post, inx: inx}

= render 'portfolio'

= render 'contact'

= render 'footer'
