= render 'header'

= render 'banner'

- Post.active.each_with_index do |post, inx|
  = render partial: "feature_#{ inx.even? ? :left : :right}", locals: {doc: post}

= render 'portfolio'

= render 'contact'

= render 'footer'
