= render 'header'

= render 'banner'

- l_doc, r_doc = *Post.limit(2)
- Post.active.each_with_index do |post, inx|
  = render partial: "feature_#{ (inx % 2).zero? ? :left : :right}", locals: {doc: post}

= render 'portfolio'

= render 'contact'

= render 'footer'
