= render 'header'

= render 'banner'

- l_doc, r_doc = *Post.limit(2)
= render partial: 'feature_left', locals: {doc: l_doc}
= render partial: 'feature_right', locals: {doc: r_doc}

= render 'portfolio'

= render 'contact'

= render 'footer'
